* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  background-image: url('./Images/endless-constellation.png');
  background-size: cover;
  background-position: center;
  overflow: hidden;
}