.todos {
    margin: 20px 0;
}

.check-desription {
    color: #330033;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

.not-check-desription{
    color: black;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

.delete-btn {
    padding: 10px;
    border-radius: 10px;
    background-color: #330033;
    color: white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.box-todo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 50px;
    margin: 10px 0;
}

.custom-checkbox {
    width: 20px;
    height: 20px;
    margin-top: 10px;
}

.check-desc{
    display: flex;
    align-items: center;
    column-gap: 10px;
}